<a href="https://colab.research.google.com/github/wnyngj/class2022spring/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 변수의 종류
1.숫자(int,float)

2.str

3.list

3-2.tuple

4.dict

## 숫자(int,float) 와 str

In [1]:
a = 1; print(type(a))

<class 'int'>

In [2]:
a = 1.1; print(type(a))

<class 'float'>

In [6]:
a = '123'; print(type(a)); print(a[1]) #숫자라도 ''안에 있다면 string이라는 것 주의

<class 'str'>
2

In [4]:
a = 'hello'; print(type(a)); print(a[1])

<class 'str'>
e

# list 인덱싱

In [8]:
a = [1, 2, 3, 4]; print(type(a)); print(a[0])

<class 'list'>
1

In [10]:
a[2]
a[:]  #전체
a[1:2]
a[2:-1] #콜론 뒷숫자 포함X

#이때 print를 해주지 않으면 제일 마지막 인덱싱만 프린트되어 나옴

[2]

list안list


2번째 list: 3, '4' 두개의 아이템

In [7]:
a = [1,'a', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2]); print(a[2][1])

<class 'list'>
1
a
[3, '4']
4

# +) str 인덱싱

In [11]:
a = 'abcdef123' #인덱싱은 list뿐만 아니라 str도 해당됨.

In [12]:
a[3:-1]

'def12'

# tuple

In [13]:
a = (1,2,3)

In [14]:
a[1] = 0    #오류뜸. 튜플은 변수를 못바꾸게 되어있음

TypeError: ignored

In [15]:
print(a[1] + a[2])

5

# dictionary

*key*와 value

In [ ]:
a =	{"a": "apple", "b": "orange", "c": 2014}
print(type(a))
print(a["a"])

<class 'dict'>
apple